#main-container {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: center;
  padding: 15px;
}

#search-column {
    display: flex;
    flex: 1 1 66%;
    flex-flow: column nowrap;    
    justify-content: center;    
    margin: 15px;
}

app-list-manager {
    display: flex;
    flex: 1 1 33%;
}
