#main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 15px;  
}

#search-column {   
    flex: 1 1 33%;    
    padding: 15px;    
}

#deck-row {
  flex: 1 1 33%;
  padding: 15px;
}

#list-column {
  flex: 1 1 33%;
  padding: 15px;
  position: sticky;
  align-self: flex-start;
  top: 0;
}
