#main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 15px;  
}

#search-column {   
    flex: 0 0 66%;    
    padding: 15px;    
}

#list-column {
  flex: 0 0 33%;
  padding: 15px;
  position: sticky;
  align-self: flex-start;
  top: 0;
}
